@import "tailwindcss";

@font-face {
  font-family: "Noto Sans Tamil";
  src: url("/fonts/NotoSansTamil-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --ta: "Noto Sans Tamil", system-ui, -apple-system, Segoe UI, Arial, sans-serif;
}

#a4-preview,
#a4-preview * {
  font-family: "Noto Sans Tamil", sans-serif !important;
}
